<p>
  <b>Folder:</b>
  <%= link_to @gif.folder.name, @gif.folder %>
</p>

<p>
  <b>File path:</b>
  <img src="/assets/<%= @gif.file_path %>">
</p>


<%= link_to 'Edit', edit_gif_path(@gif) %> |
<%= link_to 'Back', gifs_path %>
