  <h1>Make some folders</h1>
  <h2>so you can keep your gifs organized</h2>
  <p><%= link_to raw('<i class="icon-folder-close"></i> &nbsp; Create Folder'), new_user_folder_path(current_user), :class => 'primary' %></p>
