<h1>My Folders</h1>

  <% unless @folders.empty? %>

    <ul id="folders">
      <% @folders.each do |folder| %>
      <li>
        <%= link_to folder.name, folder %> <br />
        <%= link_to 'Edit', edit_folder_path(folder) %> | 
        <%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
      <% end %>
    </ul>

  <% else %>

    <p>You currently don't have any folders.</p>

  <% end %>

  <p><%= link_to 'Create a Folder', new_folder_path %></p>


