<h1 class="editable">My Folders</h1>
<p class="editablelink"><%= link_to raw('<i class="icon-plus-sign"></i> Add Folder'), new_folder_path %></p>

  <% unless @folders.empty? %>

    <ul id="folders">
      <% @folders.each do |folder| %>
      <li>
        <h2><%= link_to folder.name, folder %> <br /></h2>
        <%= link_to raw('<i class="icon-edit"></i> Rename'), edit_folder_path(folder) %> &nbsp; | &nbsp;
        <%= link_to raw('<i class="icon-trash"></i> Delete'), folder, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
      <% end %>
    </ul>

  <% else %>

    <p>You currently don't have any folders.</p>

  <% end %>