<p>
  <b>Name:</b>
  <%= @folder.name %>
</p>

<p>
  <b>Gifs:</b>
  <ul>
    <% @folder.gifs.each do |gif| %>
      <li><img src="<%= gif.file.url %>"></li>
    <% end %>
  </ul>

</p>


<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
