<h2>My Info</h2>
<p>
  I go by the username of <strong><%= @user.username %></strong> and my email is <strong><%= @user.email %></strong>.<br />
  <%= link_to raw('<i class="icon-edit"></i> Edit Info or Update Password'), edit_user_path(@user), :class => 'highlight' %>
</p>

<h2>Set me up</h2>
<p>
  <strong>Connected Networks:</strong>
  <% if @user.has_identity?("facebook") %>
    Yay! You can post your gifs to Facebook.
  <% else %>
    <%= link_to "Enable Posting Gifs to Facebook", "/auth/facebook", :class => 'highlight' %>
  <% end %>
</p>
