<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Connected Networks:</strong>
  <% if @user.has_identity?("facebook") %>
    Yay! You can post your gifs to Facebook.
  <% else %>
    <%= link_to "Enable Posting Gifs to Facebook", "/auth/facebook" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>