$blue-grey: #d1dad9;
$slate: #6f7779;
$medium-gray: #a19b9d;

$red: #d52525;
$dark-red: #a11a1e;

$fuschia: #a11e7b;
$royal-purple: #313a71;
$yellow: #e7d400;
$mint: #9fd1ce;
$cyan: #01aaed;
$turquoise: #01a38c;
$pink: #fdbfd4;
$chartreuse: #d4e153;
$light-purple: #c984b0;
$hot-pink: #e2287b;
$purple: #3f157b;

html {
  overflow-x: hidden; 
  overflow-y: auto; 
}

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background: $blue-grey;
  font-weight: 300;
  font-size: 15px;
  color: black;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  
  h1 {
    font-weight: 100;
    font-size: 48px;
    text-transform: uppercase;
  }

  .container {
    margin: 0px;
    width: 100%;
    
    header:hover {
      position: relative;
      top: 0px;
      transition: top 0.3s ease;
    }

    header {
      position: relative;
      top:-65px;
      transition: top 0.7s ease;
      margin: 0px;
      padding: 0px;
      width: auto;
      background-color: $blue-grey;
      color: $slate;

      .logobox:hover > h1 {
        background-color: $fuschia;
      }
      .logobox {
        margin: 0px;
        border-bottom: 15px solid $fuschia;
        background-color: $slate;
        width: 12%;
        height: 80px;
        float:left;

        h1 {
          font-size: 28px;
          line-height: 65px;
          text-indent: -5px;
          text-transform: none;
          text-align: center;
          margin: 0px;
          position: relative;
          width:auto;
          height: auto;

          a {
            text-decoration: none;
            color: white;
            font-family: 'Pacifico', serif;
          }
        }
        h1:hover > a {
          text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
        }

      }

      #nav {

        margin: 0px;
        padding: 0px;
        height: 80px;
        text-align: center;

        a:nth-child(1) {
          border-bottom: 15px solid $royal-purple;
        }
        a:nth-child(1):hover {
          background-color: $royal-purple;
        }

        a:nth-child(2) {
          border-bottom: 15px solid $yellow;
        }
        a:nth-child(2):hover {
          background-color: $yellow;
        }

        a:nth-child(3) {
          border-bottom: 15px solid $mint;
        }
        a:nth-child(3):hover {
          background-color: $mint;
        }

        a:nth-child(4) {
          border-bottom: 15px solid $cyan;
        }
        a:nth-child(4):hover {
          background-color: $cyan;
        }

        a:nth-child(5) {
          border-bottom: 15px solid $turquoise;
        }
        a:nth-child(5):hover {
          background-color: $turquoise;
        }

        a:nth-child(6) {
          border-bottom: 15px solid $pink;
        }
        a:nth-child(6):hover {
          background-color: $pink;
        }

        a:nth-child(7) {
          border-bottom: 15px solid $chartreuse;
        }
        a:nth-child(7):hover {
          background-color: $chartreuse;
        }

        a:nth-child(8) {
          border-bottom: 15px solid $light-purple;
        }
        a:nth-child(8):hover {
          background-color: $light-purple;
        }

        a:nth-child(9) {
          border-bottom: 15px solid $hot-pink;
        }
        a:nth-child(9):hover {
          background-color: $hot-pink;
        }


        a {
          background-color: $slate;
          color: white;
          padding: 0px;
          margin: 0px;
          width: 11%;
          height: 80px;
          text-decoration: none;
          font-size: 16px;
          line-height: 65px;
          float:left;
          font-family: 'Raleway', Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: 400;
        
        }

        a:hover {
          color: white;
          text-shadow: 0px -1px 1px rgba(0,0,0,0.3);
          font-weight: 600;
        }

      }

    }

    .main {
      position: relative;
      padding: 0px 40px 40px 40px;
      width: 50%;

      #notice {
        padding: 12px 36px;
        background-color: $turquoise;
        color: white;
      }  

      .breadcrumb {
      }

      p {
        margin: 36px 0px;
      }

      a {
        color: $slate;
        text-decoration: none;
        font-weight: 600;
      }
    
      a:hover {
        color: $red;
        border-bottom: 1px dashed;
      }

      a.giflink:hover {
        border-bottom: 0px;
        opacity: 0.8;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      }

      .primary {
        border: 0px;
        background: $red;
        padding: 12px 36px;
        transition: background 0.3s ease;
        margin: 24px 0px; 
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        line-height: 42px;
        font-size: 18px;
      }

      .primary:hover {
        background: $slate;
        color: white;
        transition: background 0.3s ease;
        border-bottom: 0px; 
      }

      .editable {
        margin-bottom: 4px;
      }
      
      .editablelink {
        margin-top: 4px;
      }

      #gifdex, #folders {
        margin: 30px 0px;
        padding: 30px 0px;
        border-top: 1px dashed $medium-gray;
        border-bottom: 1px dashed $medium-gray;
      }

      #gifdex > li {
        display: inline-block;
        padding: 10px;
      }

      #folders > li {
        list-style-type: none;
        margin: 18px 0px;

        h2 {
          font-size: 36px;
          text-transform: uppercase;
          margin-bottom: 12px;

          a {
            font-weight: 200; 
          }
        }
      }

      .field {
        margin: 15px 0px;

        label {
          white-space: nowrap;
          padding: 0 0 .5em;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          text-align: center;
          position: relative;

          span {
            font-size: .8em;
            line-height: 1em;
            opacity: .7;
            filter: alpha(opacity = 70);
          }

        }

        select {
          background: transparent;
          outline: 0;
          display: block;
          -webkit-font-smoothing: antialiased;
          font-family: 'Raleway', Helvetica, Arial, sans-serif;
          font-weight: 600;
        }

        input {
          background: transparent;
          border-top: none;
          border-right: none;
          border-bottom: 1px dashed $slate;
          border-left: none;
          display: block;
          -webkit-font-smoothing: antialiased;
          font-family: 'Raleway', Helvetica, Arial, sans-serif;
          font-weight: 600;
          outline: none;
        }

        input[type=file] {
          background: url('/assets/browse-icon.png') top 5px no-repeat; 
          text-indent: 100%; 
          white-space: nowrap; 
          overflow: hidden;
        }

        input[type=file]:hover {
          cursor: pointer;
        }

      }

      .actions {

        input[type="submit"] {
          border: none;
          background: $slate;
          color: white;
          font-family: 'Raleway', Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 18px;
          padding: 12px 36px;
          transition: background 0.3s ease; 
          margin-top: 30px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }

        input[type="submit"]:hover {
          background: $red;
          transition: background 0.3s ease; 
        }
      }
    }
  }

}

.clear {
  clear: both;
}

@media screen and (max-width: 790px) {
  .container > header h1{
    font-size: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 650px) {
  body{
    overflow: auto;
  }
  .container > header{
    text-align: center;
    width: auto;
    float: none;
  }
}