$blue-grey: #d1dad9;
$slate: #6f7779;

$red: #d52525;

$fuschia: #a11e7b;
$royal-purple: #313a71;
$yellow: #f9f203;
$mint: #9fd1ce;
$cyan: #01aaed;
$turquoise: #01a38c;
$pink: #fdbfd4;
$chartreuse: #d4e153;
$light-purple: #c984b0;
$hot-pink: #e2287b;
$purple: #3f157b;

html {
  overflow-x: hidden; 
  overflow-y: auto; 
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial' sans-serif;
  background: $blue-grey;
  font-weight: 400;
  font-size: 15px;
  color: black;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  
  a {
    color: $slate;
    text-decoration: none;
  }

  a:hover {
    color: $red;
  }

  .container {
    margin: 0px;
    width: 100%;
    
    header {
      margin: 0px;
      padding: 0px;
      width: auto;
      background-color: $blue-grey;
      color: $slate;

      .logobox {
        margin: 0px;
        background-color: $fuschia;
        width: 10%;
        height: 50px;
        float:left;

        h1 {
          font-size: 24px;
          margin: 0px;
          position: relative;
          font-family: 'Pacifico', Cambria, Georgia, serif;
          font-weight: 300;
          color: white;
          width:auto;
          height: auto;
        }
      }

      h2 {
        font-size: 24px;
        line-height: 24px;
        background-color: $royal-purple;
        color: white;
        margin: 0px;
        padding: 20px;
        font-family: Cambria, Georgia, serif;
        width: 100px;
        height: 18;
        display: inline;
      }

      #nav {

        margin: 0px;
        padding: 0px;
        height: 50px;

        a:nth-child(1) {
          background-color: $yellow;
        }

        a:nth-child(2) {
          background-color: $mint;
        }

        a:nth-child(3) {
          background-color: $cyan;
        }

        a:nth-child(4) {
          background-color: $turquoise;
        }

        a:nth-child(5) {
          background-color: $pink;
        }

        a:nth-child(6) {
          background-color: $chartreuse;
        }

        a:nth-child(7) {
          background-color: $light-purple;
        }

        a:nth-child(8) {
          background-color: $hot-pink;
        }

        a:nth-child(9) {
          background-color: $purple;
        }

        a {

          color: white;
          padding: 20px;
          margin: 0px;
          width: 10%;
          height: 50px;
          color: white;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: -1px;
          font-size: 12ypx;
          float:left;
        
        }

        a:hover {
          background-color: $slate; 
          color: white;
        }

      }

    }

    .main {
      position: relative;
      padding: 40px;

      a {
        color: $slate;
        text-decoration: none;
        font-weight: normal;
      }

      a:hover {
        color: #dc3a30;
      }

      #gifdex {

        li {
          display: inline-block;
          padding: 10px;
        }

      }

    }
  }

}

.clear {
  clear: both;
}

@media screen and (max-width: 790px) {
  .container > header h1{
    font-size: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 650px) {
  body{
    overflow: auto;
  }
  .container > header{
    text-align: center;
    width: auto;
    float: none;
  }
}